
body {
    font-family: Arial, sans-serif;
   background-color: #224229;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container {
    background-color: #8aad82;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
}

header h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 5px;
}

.contexto {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

h2 {
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 15px;
}

.formulario-area label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.formulario-area input[type="text"],
.formulario-area select,
.formulario-area textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.botoes-form button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
}

#btn-salvar {
    background-color:#284e30;
    color: white;
}

#btn-cancelar {
    background-color: #284e30;
    color: #ffffff;
}

.botoes-importacao {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.botoes-importacao button {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

#btn-importar {
    background-color:#284e30;; 
    color: white;
}

#btn-exportar {
    background-color: #284e30;;
    color: white;
}

.tabela-lista table {
    width: 100%;
    border-collapse: collapse;
}

.tabela-lista th, .tabela-lista td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.tabela-lista th {
    background-color: #f8f9fa;
    color: #343a40;
}

.tabela-lista td button {
    padding: 5px 8px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

section {
    color: #284e30;
}